<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testLzy2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>638E3DC71CA37C5E006CD1FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>638E3DE01CA37C5E006CD1FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>638E3DEB1CA37C5E006CD1FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
